.theme-is-light {
    background: #ffffff;
    .titlebar {
        filter: invert(1)
    }
    #theme-select-light {
        border-color: #00ff89;
        color: #00ff89;
    }
}
.theme-is-dark {
    background: #18181a;
    #theme-select-dark {
        border-color: #00ff89;
        color: #00ff89;
    }
}

body {
    font-family: arial;
}

.titlebar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: max-content;
    text-align: right;
    margin: 4px 4px 0px 0px;
    cursor: default;
    z-index: 5;
    app-region: no-drag;
    display: flex;
    .linux-titlebar {
        display: none;
    }
    button {
        width: 32px;
        height: 32px;
        font-size: 0px;
        border: none;
        border-radius: 6px;
        background: transparent;
        &:hover {
            background: #303236;
        }
        svg {
            width: 16px;
            height: 16px;
            filter: invert(1);
        }
    }
}

sl-include.alert-modal {
    position: fixed;
    z-index: 50;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
}

drag {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    app-region: drag;
    z-index: 1;
}

.dropdown-modal {
    position: fixed;
    top: 40px;
    right: 0px;
    z-index: 50;
    display: none;
    flex-direction: column;
    background: hsl(240 5.1% 15%);
    border-radius: 6px;
    border: 1px hsl(240 4.6% 22%) solid;
    margin: 6px;
    min-width: 250px;
    width: 300px;
    transition: 1s all;
    div:nth-child(1) > div.settings-section-header {
        border-radius: 4px 4px 0px 0px;
    }
    .settings-section-header {
        background: #303236;
        padding: 6px 0px 6px 16px;
        font-size: 12px;
        h2 {
            margin: 0px;
        }
    }
    .settings-section-content {
        display: flex;
        margin: 12px;
        input {
            padding: 6px 12px;
            border-radius: 4px;
            border: 1px #656565 solid;
            margin-right: 6px;
        }
        input#InstanceSaveButton {
            background: #575151;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 0px 12px;
        }
    }
}

div#theme {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
}
.theme-selection {
    border: 2px #7d7d7d solid;
    border-radius: 10px;
    padding: 12px 32px;
    width: 100%;
    text-align: center;
}
.theme-selection p {
    margin: 0px;
}
div#theme-select-light {
    color: black;
    background: white;
}
div#theme-select-dark {
    color: white;
    background: #232222;
}
.settings-section-content a {
    background: #3c413e;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    cursor: default;
}

.no-tabs-exist {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    img {
        width: 54px;
    }
    button {
        color: black;
        background: #00ff89;
        border: none;
        border-radius: 3rem;
        padding: 12px 24px;
        transition: 0.3s background, 0.3s color;
        &:hover {
            color: black;
            background: #e6e6e6;
            transition: 0.3s background, 0.3s color;
        }
    }
}